

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}
h1{
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
  margin-top: 1rem;
}
input,select,textarea,button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem solid #a4a4a4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
button{
   background-color: #f8f8f8;
  cursor: pointer;
}
button.primary{
  background-color: #f0c040;
}
input:hover,textarea:hover,button:hover{
  border: 0.1rem solid #203040;
  background-color: #eebe3b;
}
button.block{
  width: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header{
  
  grid-area: header;
  background-color: #007bff;
  height: 8rem;
}
main{
  grid-area: main;
  padding: 8rem 4rem;
}
footer{
  grid-area: footer;
  background-color: #007bff;
  color: rgb(240, 248, 255);
  
}
a{
  text-decoration: none;
  
}
a:hover{
  color: rgb(218, 98, 12);
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.top{
  align-items: flex-start;
}
.col-1{
  flex: 1 1 25rem;
}
.col-2{
  flex: 2 1 50rem;
}
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand{
  font-weight: bold;
  font-size: 3rem;
  color: #ffffff;
}
.row.center{
  justify-content: center;
}
.row.card{
  padding-right:10rem;
}
img{
  border-radius: 0.5rem;
  padding: 2rem;
  background-color: #ffffff;
}
img.medium{
 max-width: 29rem;
 width: 100%;
 border-radius: 1rem;
 
}
img.large{
  width: 100%;
  max-width: 45rem;
}
img.small{
  max-width: 5rem;
  width: 100%;
  border-radius: 1rem;
}
.min-30{
  min-width: 30rem;
}
.card{
  border: solid 0.1rem #c0c0c0;
  border-radius: 1rem;
  margin: 1rem;
  background-color: #ffffff;
}
.card-body{
  padding: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
.rating span i{
color: #f0c040;
margin: 0.1rem;
}
.rating-show{
  font-weight: 700;
  padding-right: 0.6rem;
}
.success{
  color: #20a020;
}
.error{
  color: #a02020;
}
.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}
.fa-shopping-cart{
  font-size: 3.6rem;
  color: #ffffff;
}
.badge{
  background-color: #ff0000;
  border-radius: 50%;
  padding: 0.45rem 0.75rem;
  margin-left: -1.6rem;
  color: #ffffff;
  font-size: 1.6rem;
}
.top-right{
  margin-right: 4rem;
}
.top-right:last-child{
  font-size: 3rem;
}
